# Max OSX
.DS_Store

# BASH
.bash_history

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IPython
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
.ipython
*/notebooks/.ipynb_checkpoints
*/.ipynb_checkpoints

*.sql


Module2/notebooks/airports.txt

Module2/notebooks/help.txt

Module2/notebooks/test

Module2/notebooks/test.dat

Module2/notebooks/test.p
